.logo{
  
  padding-top: 25px;
  padding-left: 106px;
  width: 23px;
  height: 16px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  
  
}
img{
  width: 40px;
  height: 50px;
}
#navbarNav{
  padding-left: 755px;
}
 
.navbar-nav li{
  padding-top: 30px;
  height: 19px;
  
  text-align: left;
font: normal normal normal 16px/19px Roboto;
letter-spacing: 0.16px;
 
opacity: 0.6;
}
 

.navbar-nav li a
{
  padding-left: 48px;
  color: #000000;
}
 
.navbar-nav li p{
   
  color: #1C85C8;
}
 .butLogin{
  margin-left: 48px;
 
    margin-top: 22.5px;
  width: 103px;
  height: 34px;
  background: #1C85C8 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px #1C85C833;
  border-radius: 5px;
  opacity: 1;
 
 
 
} 

.butLogin a{
  
  margin: 7.5px 31px 7.5px  31px  ;
  width: 41px;
  height: 19px;
  text-align: center;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  opacity: 1;

  
 }
 