h6{
  background-color: blueviolet;
  width: 591px;
  height: 413px;
  color: yellow;
}

.main {
  margin-top: 103px;
  margin-left: -200px;
  width: 591px;
  height: 413px;
  background: url("./../../../assets/Images/back1.png") no-repeat;
}

.formSearch {
  margin-top: 100px;
  margin-left: 472px;
  width: 691px;
  height: 65px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 25px #00000029;
  border-radius: 5px 0px 0px 5px;
  opacity: 1;
}

.partOne {
  padding-top: 193px;
  display: inline-block;
  padding-left: 297px;
  width: 282px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0.32px;
  color: #000000;
  opacity: 0.4;

 
   
}

.partTwo {
  display: inline;
  padding-top: 193px;
  padding-left: 643px;
  width: 148px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0.32px;
  color: #000000;
  opacity: 0.4;

  border-left-style: solid;
  border-color: black;
  
}

.iconArrow {
  padding-top: 1px;

  padding-left: 510px;
  width: 18px;
  height: 10px;
  size: 7px;
}
.form-control {
  display: inline;
  border: 0;
  top: 193px;
  left: 297px;
  width: 282px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0.32px;
  color: #000000;
  size: 16px;
  border-right-style: solid;
}

.SearchBtn {
  /* display: inline-block;
    text-align: left;
    font: normal normal medium 18px/22px Roboto;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    opacity: 1;

    top: 170px;
    left: 272px;
    width: 691px;
    height: 65px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #00000029;
    border-radius: 5px 0px 0px 5px;
    opacity: 1;    
     */
  margin-top: -46px;
  margin-left: 563px;
  width: 130px;
  height: 65px;
  background: #1c85c8 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 25px #00000029;
  border-radius: 0px 5px 5px 0px;
  opacity: 1;
}
