 
<form>
  <div class="main">
    <div class="form-row  bg-white rounded   ">

      <div class="row">
        <div class="formSearch">
          <div class=" col partOne p-3">
            <input type="text" class="form-control" placeholder="What do you want to learn?">
          </div>

          <div class=" col  partTwo p-3">
           <input  type="text" class="form-control" placeholder="Write or choose city">
            
          </div>
          <div class="iconArrow">
            <i class="fa fa-angle-down"></i>
          </div>
          <div class=" col SearchBtn p-3">
            <button type="button" class="btn btn-primary ">Search</button>
          </div>

        </div>
      </div>


    </div>
  </div>
</form>


 