
 .cityCard{
padding-top: 283px;
padding-left: 100px;
width: 373px;
height: 1040px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 25px #00000029;
border-radius: 10px;
opacity: 1;

    
 }

 .progsCard
 {
     

    overflow: scroll; 
    padding-top: 283px;
left: 24px;
width: 768px;
height: 1040px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 25px #00000029;
opacity: 1;
 }