.cardProgs{
    margin-top: -260px;
   
     
}

.divImg{
    margin: 24px;
    top: 307px;
left: 521px;
width: 80px;
height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 10px #00000029;
border-radius: 5px;
opacity: 1;
}
.divImg img{
    margin:  23px 8px 23px 8px;
     top: 330px;
    left: 529px;
    width: 64px;
    height: 34px;
 
    opacity: 1;
}
 
.cardProgs .name
{
font: normal normal medium 18px/22px Roboto;
letter-spacing: 0.18px;
color: #222222;
opacity: 1;
}

.cardProgs .type
{
    text-align: left;
font: normal normal normal 18px/22px Roboto;
letter-spacing: 0.18px;
color: #000000;
opacity: 0.6;
}


.tuttion
{text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0.16px;
    color: #000000;
    text-transform: lowercase;
    opacity: 0.4;
}

.fee
{
    text-align: left;
font: normal normal normal 16px/19px Roboto;
letter-spacing: 0.16px;
color: #283C8C;
opacity: 1;
}

.city{
    text-align: left;
font: normal normal normal 16px/19px Roboto;
letter-spacing: 0.16px;
color: #283C8C;
opacity: 1;
}

.button{
    background: #1C85C8 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 10px #1C85C833;
border-radius: 5px;
opacity: 1;
width: 103px;
height: 34px;
}


.button a{
    text-align: left;
font: normal normal medium 16px/19px Roboto;
letter-spacing: 0.32px;
color: #FFFFFF;
opacity: 1;
width: 71px;
height: 19px;
}

 