.citySelect {
  margin-top: -260px;
  margin-left: -70px;
 
}

.citySelect label {
  /* top: 307px;
    left: 124px; */
  width: 35px;
  height: 24px;
  text-align: left;
  font: normal normal medium 20px/24px Roboto;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.6;
}

.citySelect select,
.fieldSelect select,
.schoolSelect select {
  top: 347px;
  left: 124px;
  width: 325px;
  height: 46px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 5px;
  opacity: 1;
}

.citySelect option,
.fieldSelect option,
.schoolSelect option {
  top: 361px;
  left: 140px;
  width: 264px;
  height: 19px;
  text-align: left;
  font: normal normal normal 16px/19px Roboto;
  letter-spacing: 0px;
  color: #828282;
  opacity: 1;
}

.programCheck,
.fieldSelect,
.schoolSelect,
.languageCheck,
.sortCheck {
  padding-top: 32px;
  margin-left: -80px;
}

.programCheck p,
.languageCheck p,
.sortCheck p {
  width: 78px;
  height: 24px;
  text-align: left;
  font: normal normal medium 20px/24px Roboto;
  letter-spacing: 0.2px;
  color: #000000;
  opacity: 0.6;
}

.programCheck label,
.languageCheck label,
.sortCheck label {
  top: 501px;
  left: 124px;
  width: 98px;

  opacity: 1;
  text-align: left;
  font: normal normal normal 17px/20px Roboto;
  letter-spacing: 0.17px;
  color: #000000;
  opacity: 0.6;
}

.filterBtn {
  margin-top: 100px;

  width: 103px;
  height: 34px;
  background: #1c85c8 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px #1c85c833;
  border-radius: 5px;
  opacity: 1;
}

.filterBtn a {
  margin: 7.5px 31px 7.5px 31px;

  width: 38px;
  height: 19px;
  text-align: center;
  font: normal normal medium 16px/19px Roboto;
  letter-spacing: 0.32px;
  color: #ffffff;
  opacity: 1;
}
