<div class="citySelect">
     <label>City</label>
     <select class="form-control form-control-sm">
        <option>Choose one city or more</option>
        <option>Choose one city or more</option>
        <option>Choose one city or more</option>

      </select>
</div>
<div class="programCheck">
    <p>Program</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>
        <label class="form-check-label" for="Radios1">
            Bachelor
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">
        <label class="form-check-label" for="Radios2">
            Master
        </label>
      </div>
      <div class="form-check  ">
        <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3"  >
        <label class="form-check-label" for="Radios3">
          MBA
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="option4" >
        <label class="form-check-label" for="Radios4">
          BHD
        </label>
      </div>
</div>
<div class="fieldSelect">
    <label>Field</label>
    <select class="form-control form-control-sm">
       <option>Choose one city or more</option>
     </select>
</div>
<div class="schoolSelect">
    <label>School</label>
    <select class="form-control form-control-sm">
       <option>Choose one city or more</option>
     </select>
</div>

<div class="languageCheck">
    <p>Language</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="example " id="example" value="option1" checked>
        <label class="form-check-label" for="example ">
            All
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="example " id="example " value="option2">
        <label class="form-check-label" for="example ">
            English
        </label>
      </div>
      <div class="form-check  ">
        <input class="form-check-input" type="radio" name="example " id="example " value="option3"  >
        <label class="form-check-label" for="example ">
          Franch
        </label>
      </div>
     
</div>
<div class="sortCheck">
    <p>Sort</p>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            Price: low to high  
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Price: high to low
        </label>
      </div>
      
      </div>

 
<div class="filterBtn">
    <a>Filter</a>
</div>